
.projects-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

  .thumbnail{
    width: 100%;
  }

  .small{
    width: 300px;
    height: 250px;
  }

  .detail{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .detail-left{
    width: 50%;
  }
  .detail-right{
    width: 50%;  
  }
  .detail-right>*{
    margin-top: 10px;
  }

  @media screen and (max-width:576px) {
    .detail{
      flex-direction: column;
      align-items: center;
    }
    .detail-left{
      width: 100%;
    }
  }