@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --black: #0e0f26;
  --blue: #302399;
  --pink: #5f23a5;
  --white: #fffcff;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width : 400px) {
  .App {
    font-size: 10px;
  }
}