.contact-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container>*{
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
.formItem>*{
  padding: 10px;
  background-color: var(--disabled);
}

input,
textarea {
  padding: 3px;
  border-radius: 5px;
}

.contact-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
  gap: 8px;
}
.form-container{
  width: 100%;
  max-width: 500px;
}